.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .titulo {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
    flex-basis: 50%;
  }
  
  .right-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 50%;
  }
  
  .resultado {
    margin-top: 20px;
    border: 1px solid #b45cd6;
    padding: 20px;
    border-radius: 5px;
  }
  
  .btn-primary {
    color: white ;
    background: #c47de0;
    width: 150px;
    border: rgba(255, 255, 255, 0.432);
  }
  
  .content-img {
    flex-basis: 50%;
    text-align: center;
  }
  
  .content-img img {
    max-width: 900px;
    width: 100%;
    font-size: 1.5rem;
  }
  